/*  your css code here. If applicable */
.h1-heading {
  color: #2a7ae2;
}

.h2-heading {
  color: #f44336;
}

.h3-heading {
  color: #4caf50;
}

.h4-heading {
  color: #ff9800;
}

.h5-heading {
  color: #607d8b;
}

.h6-heading {
  color: #ffeb3b;
}

